* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#aboutus {
  min-height: calc(100vh - 149px - 64px);
}
#aboutusdark {
  min-height: calc(100vh - 149px - 64px);
}
#charity {
  min-height: calc(100vh - 64px);
}
#mainPage {
  min-height: calc(100vh - 150px - 64px - 43px);
}
#charitydark {
  min-height: calc(100vh - 149px - 64px);
}
.signinclass {
  min-height: calc(100vh - 149px - 64px);
}
.signupclass {
  min-height: calc(100vh - 149px - 64px);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
